DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable"
PORT=4000
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars
JWT_REFRESH_SECRET=change-me-refresh-secret-min-32-chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_EMAIL=admin@matjar.local
ADMIN_PASSWORD=Admin123!
ADMIN_NAME=Admin

SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:51215/template1?sslmode=disable"
